.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 1em auto;
}

.is-striped {
  background-color: #EFEDFD;
}

/* Table column sizing ================================== */
.id-cell {
  width: 5%;
}

.date-cell {
  width: 20%;
}

.topic-cell {
  width: 41%;
}

.access-link-cell {
  width: 13%;
}

.replay-link-cell {
  width: 13%;
}

.pdf-cell {
  width: 13%;
}

/* Apply styles ================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  z-index: 9999;
}

.Rtable .Rtable-row.row-data {
  padding:0 1em;
}

.Rtable .Rtable-row {
  width: 100%;
  display: flex;
}

.Rtable .Rtable-row:last-child .Rtable-cell {
  border-bottom: 0 none;
}

.Rtable .Rtable-row .Rtable-cell:first-child {
  padding: 0.6em 0.5em 0.5em 0.6em;
}

.Rtable .Rtable-row .Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border-bottom: 1px solid #E1E1E1;
  width:30%;
}



.Rtable .Rtable-row .Rtable-cell.id-cell {
  width: 5%;
}

.Rtable .Rtable-row.selected-cell {
  background-color: #EFEDFD;
}

.Rtable .Rtable-row:last-child.selected-cell {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.Rtable .Rtable-row.selected-cell {
  background-color: #EFEDFD;
}

.Rtable .Rtable-row .Rtable-cell.column-heading {
  background-color: #F7F7F7;
  color: #000000;
  padding: 1.5em;
  z-index: -1;
}

.Rtable .Rtable-row .Rtable-cell.column-heading:first-child {
  border-top-left-radius: 16px;
}

.Rtable .Rtable-row .Rtable-cell.column-heading:last-child {
  border-top-right-radius: 16px;
}

.Rtable .Rtable-row .Rtable-cell.column-heading span {
  cursor: pointer;
}

.Rtable--collapse .Rtable-row--mobile-head,
.Rtable .Rtable-row .Rtable-cell .Rtable-cell--heading {
  display: none;
}

.Rtable .Rtable-row .Rtable-cell .Rtable-cell--content a {
  font-size: 2em;
  color: #333;
}

.Rtable .Rtable-row .Rtable-cell .Rtable-cell--content .webinar-date {
  font-weight: 700;
}

.no-flexbox .Rtable {
  display: block;
}

.no-flexbox .Rtable.Rtable-cell {
  width: 100%;
}

@media all and (max-width: 750px) {
  .maxi-columns.Rtable--collapse {
  }

  .maxi-columns.Rtable--collapse .Rtable-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .maxi-columns.Rtable--collapse .Rtable-row.row-data {
    border-bottom: 1px solid #E1E1E1;
    padding: 0.5em 1em;
  }

  .maxi-columns.Rtable--collapse .Rtable-row .Rtable-cell {
    width: 100% !important;
    display: flex;
    align-items: center;
    border-bottom: none;
    padding: 0.3em;
  }

  .maxi-columns.Rtable .Rtable-row .Rtable-cell:first-child {
    padding: 0.3em;
    position: absolute;
  }

  .maxi-columns.Rtable .Rtable-row .Rtable-cell:not(:first-child) {
    padding-left: 3.5em;
  }

  .maxi-columns.Rtable--collapse .Rtable-row .Rtable-cell:first-child .Rtable-cell--content {
    padding: 0;
  }

  .maxi-columns.Rtable--collapse .Rtable-row .Rtable-cell .Rtable-cell--heading {
    display: inline-block;
    flex: 1;
    color: #000000;
    font-weight: 700;
    margin-right: 1em;
    font-weight: bold;
  }

  .maxi-columns.Rtable--collapse .Rtable-row .Rtable-cell .Rtable-cell--content {
    flex: 2;
    padding-left: 1em;
  }

  .Rtable--collapse .topic-cell {
    background-color: #43bac0;
    color: white;
    font-weight: 700;
    order: -1;
  }

  .maxi-columns.Rtable--collapse .topic-cell .Rtable-cell--content {
    padding-left: 0 !important;
  }

  .maxi-columns.Rtable--collapse .Rtable-row--head {
    display: none;
    /* background-color: #F7F7F7;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000; */
  }

  .maxi-columns.Rtable--collapse .Rtable-row--mobile-head {
    display: block;
    background-color: #F7F7F7;
    color: #000000;
    padding: 1.5em;
    z-index: -1;
  }
}
